<div id="avansert">

    <div class="row mt-5" id="tagger">
        <div class="col-12 col-xs-12 col-sm-8 col-lg-6">
            <div class="form-group mb-0">
                <label>
                    Tagg
                    <span class="text-muted small" style="font-weight:normal;">(valgfritt)</span>
                </label>
                <input type="text" class="form-control" name="tagg" value="{{ hendelse.getTag() }}"/>
            </div>
            <p class="help text-muted mt-1">
                Taggen skal brukes for å skille/gruppere mellom ulike hendelser i programmet.
            </p>
        </div>
    </div>

    <div class="row mt-5" id="fremhevetBilde">
        <div class="col-12 col-xs-12 col-sm-8 col-lg-6">
            <label>
                {% set isChecked = hendelse.getVisning() is not null and hendelse.getVisning() == 'liste' ? 'checked' : '' %}
                <input type="checkbox" name="visning_liste" value="liste" {{ isChecked }}/>
                Visning av personer som liste i offentlig programmet
            </label>
            <p class="help text-muted mt-1">
                Når avkrysset vil alle personer som er med i hendelsen vises som en liste i det offentlige programmet. Dette gjelder kun landsfestivalen
            </p>
        </div>
    </div>

    <div class="row mt-5" id="fremhevetBilde">
        <div class="col-12 col-xs-12 col-sm-8 col-lg-6">
            <div class="form-group mb-0">
                <label>
                    Fremhevet bilde
                    <span class="text-muted small" style="font-weight:normal;">(valgfritt)</span>
                </label>
                <div>
                {% if hendelse.getBilde() and hendelse.getBilde()|length > 0 %}
                    <input type="hidden" name="currentBilde" value="{{ hendelse.getBilde() }}"/>
                    <a href="{{ hendelse.getBilde() }}" target="_blank" class="btn btn-default btn-sm">
                        <img src="{{ hendelse.getBilde() }}" class="img-fluid" alt="Fremhevet bilde" style="max-width: 100%; max-height: 200px;"/>
                    </a>
                    <button id="fjernFremhevetBilde">Fjern bilde</button>
                {% endif %}
                </div>
                
                <input type="file" name="bilde" accept="image/*">

            </div>
            <p class="help text-muted mt-1">
                Bilder vises i oversikten i programmet
            </p>
        </div>
    </div>
    

    {# BESKRIVELSE PÅ PROGRAM-SIDEN #}
    <div class="row mt-5" id="description">
        <div class="col-12 col-xs-12 col-sm-8 col-lg-6">
            <div class="form-group mb-0">
                <label>
                    Offentlig beskrivelse av hendelsen
                    <span class="text-muted small" style="font-weight:normal;">(valgfritt)</span>
                </label>
                <textarea class="form-control mb-0" name="beskrivelse">{{ hendelse.getBeskrivelse() }}</textarea>
            </div>
            <p class="help text-muted mt-1">
                Det du skriver i dette feltet vises på programsiden for hendelsen (når man trykker seg inn på det).
            </p>
        </div>
    </div>

    {# <div class="row mt-4">
        <div class="col-12 col-sm-8 col-lg-6">
            <div class="form-group">
                <label>Skal hendelsen fremheves ekstra?</label>
                <div class="btn-group pull-right radioButtons" data-name="fremhevet" id="radioButton_fremhevet">
                    <button type="button" class="btn btn-default {{ hendelse.erFremhevet() ? 'selected' }}" value="true">
                        &nbsp; Ja &nbsp;</button>
                    <button type="button" class="btn btn-default {{ not hendelse.erFremhevet() ? 'selected' }}" value="false">
                        &nbsp; Nei &nbsp;</button>
                </div>
                <p class="help text-muted">
                    Anbefalt for hovedforestillinger. Gir annen bakgrunnsfarge og synlighet.
                </p>
            </div>
        </div>
    </div> #}
    {# <div class="row mt-4" id="myColor">
        <div class="col-12 col-sm-8 col-lg-6">
            <div class="form-group">
                <label>
                    Farge
                    <span class="text-muted small" style="font-weight:normal;">(valgfritt)</span>
                </label>
                <div class="clearfix"></div>
                <input type="text" class="form-control colorpicker" name="farge" value="{{ hendelse.getFarge() }}"/>
                <p class="help text-muted">Angi fargen på "boksen" til hendelsen i oversikten.</p>
            </div>
        </div>
    </div> #}
</div>

<script>
    UKMresources.optionCard.on('synlighet', function(valgt) {
        if( valgt == 'deltakerprogram' || valgt == 'program' ) {
            jQuery('#avansert').slideDown();
        } else {
            jQuery('#avansert').slideUp();
        }
    });

    jQuery('#fjernFremhevetBilde').on('click', function(e) {
        e.preventDefault();
        jQuery('input[name="currentBilde"]').val('');
        jQuery('#fjernFremhevetBilde').parent().remove();
    });

    jQuery(document).ready(function(){
        jQuery('.colorpicker').wpColorPicker();
    });

    jQuery(document).on('change', '#radioButtonValue_fremhevet', function(e) {
        if (jQuery(e.target).val() == 'true') {
            jQuery('#myColor').slideUp(
                function(){
                    jQuery('#myColor input.colorpicker').val('').change();
                }
            );
        } else {
            jQuery('#myColor').slideDown();
            jQuery('#myColor .colorpicker').wpColorPicker();
        }
    });
</script>