<div class="row">
	<div class="col-12 col-sm-12" style="margin-top: 2em;">
		<h3>Synlighet på UKM.no</h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-6 col-sm-3 col-lg-2">
        <div class="optionCard card {{ not hendelse.erSynligRammeprogram() ? 'selected' }}" data-group="synlighet" data-value="skjult">
            <div class="dashicons dashicons-hidden"></div>
            <div class="header">Skjul fra UKM.no</div>
            <p>
                Dette er bare en kladd / skal ikke vises for andre.
            </p>
        </div>
    </div>
	
    <div class="col-xs-6 col-6 col-sm-3 col-lg-2">
        <div class="optionCard card {{ hendelse.erSynligRammeprogram() and hendelse.erIntern() ? 'selected' }}" data-group="synlighet" data-value="deltakerprogram">
            <div class="dashicons dashicons-nametag"></div>
            <div class="header">Vis kun i deltakerprogram</div>
            <p>
                Deltakerprogrammet er ikke synlig i menyen,
                og kan sendes (f.eks. på sms) til dine deltakere.
            </p>
        </div>
    </div>

	<div class="col-xs-6 col-6 col-sm-3 col-lg-2">
        <div class="optionCard card {{ hendelse.erSynligRammeprogram() and not hendelse.erIntern() ? 'selected' }}" data-group="synlighet" data-value="program">
            <div class="dashicons dashicons-tickets"></div>
            <div class="header">Vis i offentlig program</div>
            <p>
                Offentlig program vises i menyen på din lokalside, 
                så alle kan finne det.
            </p>
        </div>
    </div>

</div>

<div class="row mt-3" id="visDetaljer">
	<div class="col-xs-6 col-6 col-sm-4 col-lg-3">
        <div class="optionCard card {{ hendelse.getSynligDetaljprogram() ? 'selected' }}" data-group="synlig_detalj" data-value="true">
            <div class="dashicons dashicons-unlock"></div>
            <div class="header">Vis detaljer</div>
            <p>
                Gjør den klikkbar i program-oversikten, slik at alle kan se
                <span class="vis_detaljer_infos vis_detaljer_default">rekkefølgen på innslagene</span>
                <span class="vis_detaljer_infos vis_detaljer_post">informasjonsteksten</span>
                <span class="vis_detaljer_infos vis_detaljer_category">innleggene i kategorien</span>
            </p>
        </div>
    </div>

	<div class="col-xs-6 col-6 col-sm-4 col-lg-3">
        <div class="optionCard card {{ not hendelse.getSynligDetaljprogram() ? 'selected' }}" data-group="synlig_detalj" data-value="false">
            <div class="dashicons dashicons-unlock"></div>
            <div class="header">Skjul detaljer</div>
            <p>
                Holder 
                <span class="vis_detaljer_infos vis_detaljer_default">rekkefølgen på innslagene</span>
                <span class="vis_detaljer_infos vis_detaljer_post">informasjonsteksten</span>
                <span class="vis_detaljer_infos vis_detaljer_category">innleggene i kategorien</span>
                hemmelig.
            </p>
        </div>
    </div>
</div>

<div class="row mt-4" id="deltakerprogramUrl" style="display:none;">
    <div class="col-12 col-12 col-sm-8 col-lg-6">
        <ol class="list-group">
            <li class="list-group-item">
                Adressen til ditt 
                <a href="{{arrangement.getLink()}}deltakerprogram/" target="_blank">deltakerprogram</a>
                er:
                <code>
                    {{ arrangement.getLink() }}deltakerprogram/
                </code>
            </li>
        </ol>
    </div>
</div>
{% if arrangement.getEierType() == 'land' %}
    {% include "hendelse/avansert.html.twig" %}
{% endif %}



<script>
    UKMresources.optionCard.on('type', function(valgt) {
        jQuery('.vis_detaljer_infos').hide();
        jQuery('.vis_detaljer_'+ valgt).show();
    });
    UKMresources.optionCard.on('synlighet', function(valgt){
        if( valgt == 'program' ) {
            jQuery('#visDetaljer').slideDown();
            jQuery('#deltakerprogramUrl').slideUp();
        } else if( valgt == 'deltakerprogram' ) {
            jQuery('#visDetaljer').slideDown();
            jQuery('#deltakerprogramUrl').slideDown();
        } else {
            jQuery('#visDetaljer, #deltakerprogramUrl').slideUp();
        }
    });
    UKMresources.optionCard.on('intern', function(valgt) {
        if( valgt == 'true' && UKMresources.optionCard.status('synlig_ramme') == 'true') {
            jQuery('#deltakerprogram').slideDown();
        } else {
            jQuery('#deltakerprogram').slideUp();
        }
    });
    UKMresources.optionCard.pullStatus('intern');
</script>