<div class="hendelse panel panel-{{ hendelse.erSynligRammeprogram() ? ( hendelse.erIntern() ? 'primary': 'success' ) : 'danger' }}" id="hendelse_{{hendelse.getId()}}" data-id="{{ hendelse.getId() }}" data-synlighet="{{ hendelse.erIntern() ? 'deltakerprogram':'program' }}">
	<div class="panel-heading">

		<div class="icon toggleState" data-controller="synligDetaljprogram" data-state="{{ hendelse.harSynligDetaljprogram() ? 'on' : 'off' }}">
			<div class="state-on" {{ not hendelse.harSynligDetaljprogram() ? 'style="display:none;"' }} title="Detaljprogrammet er synlig">
				<span class="dashicons dashicons-unlock"></span>
			</div>
			<div class="state-off" {{ hendelse.harSynligDetaljprogram() ? 'style="display:none;"' }} title="Detaljprogrammet er skjult">
				<span class="dashicons dashicons-lock"></span>
			</div>
		</div>

		<div class="icon toggleState toggleSynlig" data-controller="synligRammeprogram" data-state="{{ hendelse.erSynligRammeprogram() ? 'on' : 'off' }}">
			<div class="state-off" {{ hendelse.erSynligRammeprogram() ? 'style="display:none;"' }} title="Vises i programmet">
				<span class="dashicons dashicons-hidden"></span>
			</div>
            {% if hendelse.erIntern() %}
                <div class="state-on" {{ not hendelse.erSynligRammeprogram() ? 'style="display:none;"' }} title="Vises kun i deltakerprogram">
                    <span class="dashicons dashicons-nametag"></span>
                </div>
            {% else %}
                <div class="state-on" {{ not hendelse.erSynligRammeprogram() ? 'style="display:none;"' }} title="Vises også i offentlig program">
                    <span class="dashicons dashicons-tickets"></span>
                </div>
            {% endif %}
		</div>

		<h3 class="panel-title">
			{{ hendelse.getStart()|dato('H:i') }}
			<a href="?page={{ GET('page') }}&action=hendelse&id={{ hendelse.getId() }}" class="hendelseNavn">
                {{ hendelse.getNavn() }}
        	    <span class="dashicons dashicons-edit" style="font-size: 1em; margin-top:.1em"></span>
            </a>
            <span class="saveSpinner" style="display:none;">
                <img src="/wp-includes/images/spinner.gif" style="height: 1.2em;"/>
            </span>
            <span class="saveStatus" style="display:none;">Rekkefølge lagret</span>
		</h3>
	</div>

	<div class="panel-body">
        {% if hendelse.getType() == 'default' and visInnslag is defined and visInnslag %}
            <ol class="list-unstyled detaljprogram" style="min-height: 55px;">
                {% for innslag in hendelse.getInnslag().getAll() %}
                    {% include "innslag.html.twig" %}
                {% else %}
                    <li class="ingeninnslag text-muted" style="cursor: move;">
                        Start med å trekke det første innslaget hit.
                    </li>
                {% endfor %}
            </ol>
            <p class="totals" style="display:none;">
                Totalt 
                <span class="antall_innslag"></span> innslag, 
                <span class="varighet">x min og y sek</span>
            </p>

            <div class="">
                <a class="reverser_rekkefolge btn btn-ukm btn-xs btn-block" data-hendelse="{{ hendelse.getId() }}">Snu rekkefølgen</a>
            </div>
		{% elseif hendelse.getType() == 'default' %}
			{{ hendelse.getInnslag().getAntall() }}
			innslag -
            {{ hendelse.getTid() }}

            <div class="pull-right">
                <a href="#" class="reverser_rekkefolge btn btn-ukm btn-xs" data-hendelse="{{ hendelse.getId() }}">Snu rekkefølgen</a>
                <a href="?page={{GET('page')}}&action=sortering&hendelser={{hendelse.getId()}}" class="btn btn-ukm btn-xs">Rediger rekkefølgen</a>
            </div>
		{% elseif hendelse.getType() == 'post' %}
            <div class="pull-right">
                <a href="post.php?post={{ hendelse.getTypePostId() }}&action=edit" target="_blank" class="btn btn-ukm btn-xs">Rediger teksten</a>
            </div>
			Dette er en informasjonsside.
		{% elseif hendelse.getType() == 'category' %}
			Viser innlegg fra en kategori
		{% else %}
			En feil har oppstått.
			{{ hendelse.getType() }}
		{% endif %}
        <div class="clearfix"></div>
	</div>
</div>
