{% extends "Layout/base.html.twig" %}

{% if GET('id') == 'new' %}
	{% set currentStartTime = '' %}
	{% set currentStartDate = '' %}
{% else %}
	{% set currentStartTime = hendelse.getStart()|date('H:i') %}
	{% set currentStartDate = hendelse.getStart()|dato('d.m.Y') %}
{% endif %}


{% block content %}
	<h1>
		{% if GET('id') == 'new' %}
			Opprett hendelse
		{% else %}
			Rediger {{ hendelse.getNavn() }}
		{% endif %}
	</h1>
	<div class="clearfix clear clear-fix"></div>

	<form method="POST" action="?page=UKMprogram&save=hendelse">
		<input type="hidden" name="id" value="{{ GET('id') }}" />
		<div style="margin-left: .2em; margin-right: 1em; max-width: 768px;">
			
			{# NAVN OG STED #}
			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Navn p친 hendelsen</label>
						<input type="text" class="form-control" name="navn" value="{{ hendelse.getNavn() }}" required />
						<p class="help text-muted">F.eks Forestilling A, Kirkekonsert</p>
					</div>
				</div>

				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Sted</label>
						<input type="text" class="form-control" name="sted" value="{{ hendelse.getSted() }}" required />
						<p class="help text-muted">F.eks Ibsenhuset, Kulturhuset, Volda ungdomsskole</p>
					</div>
				</div>
			</div>

			{# TIDSPUNKT #}
			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>N친r starter hendelsen</label>
						<select class="form-control" name="start_date" required>
							{% for dag in monstring.getDager() %} 
								<option value="{{ dag|dato('d.m.Y') }}" {{ currentStartDate == dag|dato('d.m.Y') ? 'selected' }}>{{ dag|dato('D d.M')|capitalize }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="col-12 col-sm-6">
					<label class="hidden-xs">&nbsp;</label>
					<div class="input-group">
						<span class="input-group-addon">kl. </span>
						<select class="form-control" name="start_time" required>
							{% for hour in 7..23 %}
								{% set pad_hour = hour < 10 ? '0' ~ hour : hour %}
								
								{% for min in range(0,55,5) %}
									{% set pad_min = min < 10 ? '0' ~ min : min %}	
									<option value="{{ pad_hour }}:{{ pad_min }}" {{ currentStartTime == pad_hour~':'~pad_min ? 'selected' }}>{{ pad_hour }}:{{ pad_min }}</option>
								{% endfor %}
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-12 col-sm-12">
					<p class="help text-muted">
						Finner du ikke riktig dag? 
						Listen viser kun dager mellom m칮nstringens start og slutt. 
						Rediger dager under <a href="?page=UKMmonstring">arrangement</a> og returner hit.
					</p>
				</div>
			</div>


			{% if monstring.getType() == 'land' %}
	
			<div class="row">
				<div class="col-12 col-sm-12 mb-0">
					<div class="form-group">
						<label>Offentlig beskrivelse av hendelsen</label>
						<textarea class="form-control mb-0" name="beskrivelse">{{ hendelse.getBeskrivelse() }}</textarea>
					</div>
				</div>
				<div class="col-12 col-sm-12 mt-0">
					<p class="help text-muted mt-0">
						Valgfritt. Det du skriver i dette feltet vises p친 programsiden for hendelsen (n친r man trykker seg inn p친 det).
					</p>
				</div>
			</div>
			{% endif %}

			<div class="row">
				{% if monstring.getType() == 'land' %}
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Farge</label>
						<input type="text" class="form-control" name="farge" value="{{ hendelse.getFarge() }}" />
						<p class="help text-muted">Dette definerer fargen p친 boksen til hendelsen i oversikten.</p>
					</div>
				</div>
			{% endif %}
			</div>

			{% if monstring.getType() != 'kommune' %}
			<div class="row">
				<div class="col-12 col-sm-12" style="margin-top: 2em;">
					<h3>Innhold i hendelsen</h3>
				</div>
			</div>
			{% endif %}
			
			
			{# INTERN / OFFENTLIG #}
			<div class="row">
				{% if monstring.getType() == 'land' %}
					<div class="col-12 col-sm-6">
						<div class="form-group">
							<label>Er dette en offentlig eller intern hendelse?</label>
							<br />
							<label class="normal">
								<input type="radio" class="form-control" name="intern" value="false" {{ not hendelse.erIntern() ? 'checked' }} />
								<span class="dashicons dashicons-tickets"></span> Offentlig hendelse som er 친pen for alle.
							</label>
							<br />
							<label class="normal">
								<input type="radio" class="form-control" name="intern" value="true" {{ hendelse.erIntern() ? 'checked' }} />
								<span class="dashicons dashicons-nametag"></span> Intern hendelse kun for deltakere.
							</label>
						</div>
					</div>

					<div class="col-12 col-sm-6">
						<div class="form-group">
							<label>Skal hendelsen fremheves ekstra?</label>
							<br />
							<label class="normal">
								<input type="radio" class="form-control" name="fremhevet" value="false" {{ not hendelse.erFremhevet() ? 'checked' }} />
								游냇 Nei, ikke fremhev ekstra
							</label>
							<br />
							<label class="normal">
								<input type="radio" class="form-control" name="fremhevet" value="true" {{ hendelse.erFremhevet() ? 'checked' }} />
								游냘 Ja, fremhev
							</label>
							<p class="help text-muted">
								Fremhevet er anbefalt for hovedforestillignene.
							</p>
						</div>
					</div>
				{% else %}
					<input type="hidden" value="false" name="intern" />
				{% endif %}
			</div>


			{# TYPE HENDELSE #}
			{% if monstring.getType() != 'kommune' %}
				<div class="row">
					<div class="col-12 col-sm-6">
						<div class="form-group">
							<label>Hva best친r detaljprogrammet av?</label>
							<br />
							<label class="normal">
								<input type="radio" class="form-control" name="type" value="default" {{ hendelse.getType() == 'default' ? 'checked' }} />
								Innslag (standard)
							</label>
							<br />
							<label class="normal">
								<input type="radio" class="form-control" name="type" value="post" {{ hendelse.getType() == 'post' ? 'checked' }} />
								Et innlegg eller en side
							</label>
							<br />
							<label class="normal">
								<input type="radio" class="form-control" name="type" value="category" {{ hendelse.getType() == 'category' ? 'checked' }} />
								En liste med innlegg fra en kategori
							</label>
						</div>
					</div>

					{# SUB-SELECT: POSTS #}
					<div class="col-12 col-sm-6" id="posts" style="display:none">
						<div class="form-group">
							<label>Velg hvilket innlegg eller hvilken side som skal vises</label>
							<select name="post_id" class="form-control">
								<optgroup label="Innlegg">
									{% for post in posts|filter(post => post.post_type == 'post') %}
										<option value="{{ post.ID }}" {{ hendelse.getTypePostId() == post.ID ? 'selected' }}>{{ post.post_title }} ({{post.post_type == 'post' ? 'innlegg' : 'side'}})</option>
									{% else %}
										<option value="false" disabled>Du m친 ha minst ett innlegg f칮r du kan gj칮re dette</option>
									{% endfor %}
								</optgroup>

								<optgroup label="Sider">
									{% for post in posts|filter( post => post.post_type != 'post') %}
										<option value="{{ post.ID }}" {{ hendelse.getTypePostId() == post.ID ? 'selected' }}>{{ post.post_title }} ({{post.post_type == 'post' ? 'innlegg' : 'side'}})</option>
									{% else %}
										<option value="false" disabled selected>Du m친 ha minst en side f칮r du kan gj칮re dette</option>
									{% endfor %}
								</optgroup>
							</select>
						</div>
					</div>

					{# SUB-SELECT: CATEGORIES #}
					<div class="col-12 col-sm-6" id="categories" style="display:none">
						<div class="form-group">
							<label>Velg hvilken kategori som skal vises</label>
							<select name="category_id" class="form-control">
								{% for category in categories %}
									<option value="{{ category.term_id }}" {{ hendelse.getTypeCategoryId == category.term_id ? 'selected' }}>{{ category.name }}</option>
								{% else %}
									<option value="false" disabled>Du m친 ha minst en kategori f칮r du kan gj칮re dette</option>
								{% endfor %}
							</select>
						</div>
					</div>

					{# SUB-SELECT: OPPM칒TE #}
					<div class="col-12 col-sm-6" id="oppmote" style="display:none">
						<div class="form-group">
							<label>Vil du angi detaljer for oppm칮te-tid?</label>
							<select id="angi_oppmote" name="angi_oppmote" class="form-control">
								<option value="true" {{ hendelse.getOppmoteFor != 0 or hendelse.getOppmoteDelay != 0 ? 'selected' }}>Ja</option>
								<option value="false" {{ hendelse.getOppmoteFor == 0 and hendelse.getOppmoteDelay == 0 ? 'selected' }}>Nei</option>
							</select>
						</div>
					</div>
				</div>
			{% else %}
				<input type="hidden" name="type" value="default" />
			{% endif %}


			<div class="row" id="oppmote_detaljer" style="display: none;">
				<div class="col-12 col-sm-12" style="margin-top: 2em;">
					<h3>Detaljer for oppm칮te</h3>
				</div>

				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Hvor lenge f칮r hendelsen skal det f칮rste innslaget m칮te?
					
						<select class="form-control" name="oppmote_for">
							{% for time in 0..12 %}
								{% if time == 1 %}
									<optgroup label="F칮rste time">
								{% elseif time > 1 %}
									</optgroup>
									<optgroup label="{{ time }} timer">
								{% endif %}
								{% for min in range(0,55,5) %}
									{% set value = ( time * 60) + min %}
									<option value="{{ value }}" {{ value == hendelse.getOppmoteFor() ? 'selected' }}>
										{% if time == 1 %}
											1 time, 
										{% elseif time > 1 %}
											{{ time }} timer, 
										{% endif %}
										{{ min }} min f칮r
									</option>
								{% endfor %}
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Deretter, hvor stor tidsforskyving skal det v칝re per innslag?
						<select class="form-control" name="oppmote_forskyving">
							<option value="0">Alle m칮ter samtidig</option>
							{% for i in 1..30 %}
								<option value="{{ i }}" {{ i == hendelse.getOppmoteDelay() ? 'selected' }}>{{ i }} min etter forrige</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="col-12 col-sm-12">
					<div class="form-group">
						<label>Skal oppm칮tetiden vises i programmet?</label>
						<br />
						<label class="normal">
							<input type="radio" class="form-control" name="oppmote_synlig" value="true" {{ hendelse.getSynligOppmotetid() ? 'checked' }} />
							Ja (helst ikke)
						</label>
						<br />
						<label class="normal">
							<input type="radio" class="form-control" name="oppmote_synlig" value="false" {{ not hendelse.getSynligOppmotetid() ? 'checked' }} />
							Nei
						</label>
					</div>
				</div>
			</div>



			{# SYNLIGHET #}
			<div class="row">
				<div class="col-12 col-sm-12" style="margin-top: 2em;">
					<h3>Synlighet p친 UKM.no</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Skal hendelsen vises?</label>
						<br />
						<label class="normal">
							<input type="radio" class="form-control" name="synlig_ramme" value="true" {{ hendelse.getSynligRammeprogram() ? 'checked' }} />
							<span class="dashicons dashicons-visibility"></span> Ja, denne kan vises allerede n친.
						</label>
						<br />
						<label class="normal">
							<input type="radio" class="form-control" name="synlig_ramme" value="false" {{ not hendelse.getSynligRammeprogram() ? 'checked' }} />
							<span class="dashicons dashicons-hidden"></span> Nei, dette er en kladd.
						</label>
					</div>
				</div>

				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Skal innholdet i hendelsen vises?</label>
						<br />
						<label class="normal">
							<input type="radio" class="form-control" name="synlig_detalj" value="true" {{ hendelse.getSynligDetaljprogram() ? 'checked' }} />
							<span class="dashicons dashicons-unlock"></span> Ja, alt er klart.
						</label>
						<br />
						<label class="normal">
							<input type="radio" class="form-control" name="synlig_detalj" value="false" {{ not hendelse.getSynligDetaljprogram() ? 'checked' }} />
							<span class="dashicons dashicons-lock"></span> Nei, hold detaljene hemmelig.
						</label>
						<p class="help text-muted">
							Hvis du holder detaljene hemmelig, kan ingen se hvilken
							rekkef칮lge innslagene skal opptre i.
							{% if monstring.getType() != 'kommune' %}
							<br />
							Innlegg betraktes ogs친 som detaljer.
							{% endif %}
						</p>
					</div>
				</div>
			</div>


		</div>


		<div style="margin-top: 2em;">
			<input type="submit" value="Lagre" class="btn btn-success" />
		</div>

	</form>
{% endblock %}