{% if GET('id') == 'new' %}
	{% set currentStartTime = '' %}
	{% set currentStartDate = '' %}
{% else %}
	{% set currentStartTime = hendelse.getStart()|date('H:i') %}
	{% set currentStartDate = hendelse.getStart()|dato('d.m.Y') %}
{% endif %}

<div id="secondary_flashbag" style="display:none; ">
</div>
<h3>
    {% if GET('id') == 'new' %}
        Opprett hendelse
    {% else %}
        Rediger
        {{ hendelse.getNavn() }}
    {% endif %}
    <small style="font-size:.6em; margin-left: 1em;">
        <a class="btn btn-ukm btn-xs" href="?page={{GET('page')}}" style="margin-top: -.6em;">avbryt, tilbake til oversikten</a>
        {% if GET('id') != 'new' %}
            <a class="btn btn-ukm btn-xs btn-danger" href="?page={{GET('page')}}&delete=hendelse&c_id={{hendelse.getId()}}" onclick="return confirm('Er du sikker på at du vil slette denne?');" style="margin-top: -.6em;">slett denne hendelsen</a>
        {% endif %}
        <a class="btn btn-ukm btn-xs" id="dupliser_hendelse" href="#" style="margin-top: -.6em;">dupliser</a>
    </small>
</h3>
<div class="clearfix clear clear-fix"></div>

<form method="POST" action="?page=UKMprogram&save=hendelse">
    <input type="hidden" name="id" value="{{ GET('id') }}"/>
    <div style="width:98%">
        {% include "hendelse/basics.html.twig" %}
        {% include "hendelse/type.html.twig" %}
        {% include "hendelse/synlighet.html.twig" %}
    </div>
    
	<div style="margin-top: 2em;">
		<input type="submit" value="Lagre" class="btn btn-success"/>
	</div>

</form>

{% if arrangement.getEierType() == 'land' %}
    {# bottom-spacer for å håndtere color-picker #}
    <div style="min-height: 300px; display:block;"></div>
{% endif %}

{% block javascripts %}
<script>
jQuery(document).ready(function() {
    jQuery("#dupliser_hendelse").click(function(clickEvent) {
        if(confirm('Er du sikker på at du vil duplisere denne hendelsen?')) {
            jQuery.post(
                ajaxurl, {
                    action: 'UKMprogramV2_ajax',
                    controller: 'save',
                    save: 'dupliserHendelse',
                    hendelse: {{ hendelse.getId() }}
                },
                function(response) {
                    if (response !== null && response.success) {
                        console.log(response.hendelse.id.toString());
                        jQuery("#secondary_flashbag").html('<div class="alert alert-success"><a href="?page=UKMprogram&action=hendelse&id='+response.hendelse.id.toString()+'">Hendelse duplisert! Klikk her for å gå til den nye hendelsen din</a></div>').slideDown();
                    } else {
                        alert('Klarte ikke å duplisere hendelse. Feilmelding: '+response.message);
                    }
                }
            );
        }
    });
});
</script> 
{% endblock %}