<li class="innslag" fylke-id="{{ innslag.getFylke().getId() }}" data-id="{{ innslag.getId() }}" style="cursor: move;" data-duration="{{ innslag.getType().harTid() ? innslag.getVarighet().getSekunder() : '0' }}" data-type="{{innslag.getType().getKey()}}" data-hendelser="{% for hendelse in innslag.getProgram().getAbsoluteAll() %}{{ hendelse.getId() }}{{ not loop.last ? ','}}{% endfor %}">
	<div class="infos">
		{% if innslag.getType().harTitler() %}
			{% if innslag.getType().harTid() %}
				{{ innslag.getVarighet().getCompact() }} |
			{% endif %}
		{% endif %}
		<abbr title="{{ innslag.getPersoner().getAntall() }} personer">
			{{ innslag.getPersoner().getAntall() }}p
		</abbr> 
		<br />		
		<small>
			{{ arrangement.getEierType() == 'land' ? innslag.getFylke() : innslag.getKommune() }}
		</small>
	</div>
	<div class="navn">{{ innslag.getNavn()|upper }}</div>
	<small>
		<span class="label label-kat-{{ innslag.getType().getKey() }}">{{ innslag.getType()|upper }}</span>
		{{ innslag.getSjanger() }}
	</small>
	<div class="clearfix"></div>
</li>