{# SUB-SELECT: POSTS #}

{% if monstring.getType() == 'land' %}
	<div class="row">
		<div class="col-12 col-sm-12 mb-0">
			<div class="form-group">
				<label>Offentlig beskrivelse av hendelsen</label>
				<textarea class="form-control mb-0" name="beskrivelse">{{ hendelse.getBeskrivelse() }}</textarea>
			</div>
		</div>
		<div class="col-12 col-sm-12 mt-0">
			<p class="help text-muted mt-0">
				Valgfritt. Det du skriver i dette feltet vises på programsiden for hendelsen (når man trykker seg inn på det).
			</p>
		</div>
	</div>
{% endif %}

<div class="row">
	{% if monstring.getType() == 'land' %}
		<div class="col-12 col-sm-6">
			<div class="form-group">
				<label>Farge</label>
				<input type="text" class="form-control" name="farge" value="{{ hendelse.getFarge() }}"/>
				<p class="help text-muted">Dette definerer fargen på boksen til hendelsen i oversikten.</p>
			</div>
		</div>
	{% endif %}
</div>


{# INTERN / OFFENTLIG #}
<div class="row">
	{% if monstring.getType() == 'land' %}
		<div class="col-12 col-sm-6">
			<div class="form-group">
				<label>Er dette en offentlig eller intern hendelse?</label>
				<br/>
				<label class="normal">
					<input type="radio" class="form-control" name="intern" value="false" {{ not hendelse.erIntern() ? 'checked' }}/>
					<span class="dashicons dashicons-tickets"></span>
					Offentlig hendelse som er åpen for alle.
				</label>
				<br/>
				<label class="normal">
					<input type="radio" class="form-control" name="intern" value="true" {{ hendelse.erIntern() ? 'checked' }}/>
					<span class="dashicons dashicons-nametag"></span>
					Intern hendelse kun for deltakere.
				</label>
			</div>
		</div>

		<div class="col-12 col-sm-6">
			<div class="form-group">
				<label>Skal hendelsen fremheves ekstra?</label>
				<br/>
				<label class="normal">
					<input type="radio" class="form-control" name="fremhevet" value="false" {{ not hendelse.erFremhevet() ? 'checked' }}/>
					🐕 Nei, ikke fremhev ekstra
				</label>
				<br/>
				<label class="normal">
					<input type="radio" class="form-control" name="fremhevet" value="true" {{ hendelse.erFremhevet() ? 'checked' }}/>
					🐩 Ja, fremhev
				</label>
				<p class="help text-muted">
					Fremhevet er anbefalt for hovedforestillignene.
				</p>
			</div>
		</div>
	{% else %}
		<input type="hidden" value="false" name="intern"/>
	{% endif %}
</div>


{# TYPE HENDELSE #}
{% if monstring.getType() != 'kommune' %}
	{# SUB-SELECT: OPPMØTE #}
	<div class="col-12 col-sm-6" id="oppmote" style="display:none">
		<div class="form-group">
			<label>Vil du angi detaljer for oppmøte-tid?</label>
			<select id="angi_oppmote" name="angi_oppmote" class="form-control">
				<option value="true" {{ hendelse.getOppmoteFor != 0 or hendelse.getOppmoteDelay != 0 ? 'selected' }}>Ja</option>
				<option value="false" {{ hendelse.getOppmoteFor == 0 and hendelse.getOppmoteDelay == 0 ? 'selected' }}>Nei</option>
			</select>
		</div>
	</div>
</div>{% endif %}<div class="row" id="oppmote_detaljer" style="display: none;">
<div class="col-12 col-sm-12" style="margin-top: 2em;">
	<h3>Detaljer for oppmøte</h3>
</div>

<div class="col-12 col-sm-6">
	<div class="form-group">
		<label>Hvor lenge før hendelsen skal det første innslaget møte?

			<select class="form-control" name="oppmote_for">
				{% for time in 0..12 %}
					{% if time == 1 %}
						<optgroup label="Første time">
					{% elseif time > 1 %}
						</optgroup>
						<optgroup label="{{ time }} timer">
						{% endif %}
						{% for min in range(0,55,5) %}
							{% set value = ( time * 60) + min %}
							<option value="{{ value }}" {{ value == hendelse.getOppmoteFor() ? 'selected' }}>
								{% if time == 1 %}
									1 time,
								{% elseif time > 1 %}
									{{ time }}
									timer,
								{% endif %}
								{{ min }}
								min før
							</option>
						{% endfor %}
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="col-12 col-sm-6">
			<div class="form-group">
				<label>Deretter, hvor stor tidsforskyving skal det være per innslag?
					<select class="form-control" name="oppmote_forskyving">
						<option value="0">Alle møter samtidig</option>
						{% for i in 1..30 %}
							<option value="{{ i }}" {{ i == hendelse.getOppmoteDelay() ? 'selected' }}>{{ i }}
								min etter forrige</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="col-12 col-sm-12">
				<div class="form-group">
					<label>Skal oppmøtetiden vises i programmet?</label>
					<br/>
					<label class="normal">
						<input type="radio" class="form-control" name="oppmote_synlig" value="true" {{ hendelse.getSynligOppmotetid() ? 'checked' }}/>
						Ja (helst ikke)
					</label>
					<br/>
					<label class="normal">
						<input type="radio" class="form-control" name="oppmote_synlig" value="false" {{ not hendelse.getSynligOppmotetid() ? 'checked' }}/>
						Nei
					</label>
				</div>
			</div>
		</div>